* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  margin: 1rem auto;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#searchbar {
  width: 40%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#cards > .usercard {
  width: 200px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards > .usercard:hover {
  box-shadow: 0 2px 8px -2px #03123180;
  border: 1px solid #0448d3;
}

#cards > .usercard > img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

#cards > .usercard > button {
  width: 60%;
  background-color: #324b7e;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
}

#cards > .usercard > button:hover {
  filter: saturate(2);
}

.hidden {
  display: none;
}